@import url('../css/reset.css');

h1 {
    font-weight: 600;
    font-size: 20px;
}
h3 {
    font-weight: 600;
    font-size: 14px;
}
p {
    font-weight: 400;
    font-size: 12px;
}
header {
    width: 100%;
    height: 50px;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}
header section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}
header .header {
    padding: 25%;
}
header .header:hover {
    background-color: rgb(228, 228, 228);
    border-radius: 50%;
}
header .search {
    justify-content: center;
    flex: 5;
}
header .search input {
    min-width: 30%;
    min-height: 2rem;
    border: 1px solid black;
}
header .search figure {
    border: 1px solid black;
    background-color: rgb(228, 228, 228);   
}
header .search figure img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.content{   
    padding: 2%;
    display: flex;
}
main {
    width: 75%;
    box-sizing: border-box;
    padding: 0 1%;
}
main .video {
    width: 100%;
    height: 40vw;
    padding: 0 0 5%;
}
main iframe {
    width: 100%;
    height: 100%;
}
main .bar {
    height: 50px;
    margin: 1%;
    display: flex;
    justify-content: space-between;   
}
main .bar figure {
    display: flex;
    align-items: center;
    justify-content: center;
}
main .bar-figure {
    padding: 0 2rem;
}
main .bar-figure:hover {
    background-color: rgb(228, 228, 228);
    border-radius: 2rem;
}
main .bar figure img{
    width: 50%;
    height: 50%;
    object-fit: scale-down;
    flex: 1;
    margin-right: 8%;
}
#logo img, #button img{
    height: 100%;
}
main .text {
    padding: 2% 0;
    font-size: 14px;
    line-height: 1.5;
}

aside {
    width: 25%;
    margin-left: 1%;
}
aside ul {
    display: flex;
    flex-direction: column-reverse;
}
aside li {
    max-height: 90px;
    display: flex;
    margin: 0 1% 3%;
}
aside figure {
    position: relative;
    flex-basis: 10rem;
    height: 90px;
}
aside img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
aside .nail {
    position: relative;
    z-index: 1;
}
aside .hide {
    position: absolute;
    left: 0;    
}
aside .nail:hover {
    z-index: -1;
}
aside .details {
    margin: 0 2%;
}
footer {
    width: 100%;
    max-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px dashed black;
}
footer a {
    height: 2rem;
    box-sizing: border-box;
    padding: 0.2rem 1rem;
}
footer img {
    height: 100%;
}

@media (max-width: 1000px) {
    .content {
        flex-direction: column;
        padding: 5%;
    }
    main {
        width: 100%;
        margin: auto;
    }
    main #button {
        margin-left: 3%;
    }
    aside {
        width: 100%;
    }   
    aside ul {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8%;
    }
    aside li {
        width: 25%;
        max-height: fit-content;
        flex-direction: column;
        gap: 2%;
    }
}
@media (max-width: 700px) {
    main :is(h1, h3) {
        font-size: smaller;
    }
    main .bar-figure {
        padding: 0 1%;
    }
    
    main .bar h3{
        display: none;
    }
    aside li {
        width: 40%;
    }
}
@media (max-width: 500px) {
    aside li {
        width: 100%;
    }
}